{{ define "game/jackpotBonus.html" }}

{{ template "home/head.html" .head}}

<div class="main">
    {{ template "game/menu.html" .subMenuId}}
    <form class="form-inline mt20" role="form" method="get"
          action="" id="agentForm">
        
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>遊戲</th>
                <th>功能操作</th>
            </tr>
            </thead>
            <tbody>

           
            </tbody>
        </table>

    </form>

    <script type="text/javascript">


    </script>

</div>
</div>
{{ template "home/foot.html" }}


{{ end }}